<h3>Games Index</h3>
<%= link_to 'new', new_game_path %>
<br>
<% @games.each do |game| %>
  <%= game.name %>
  <%= link_to 'show', game_path(game) %>
  <%= link_to 'edit', edit_game_path(game) %>
  <%= link_to 'delete', game, method: :delete %>
<% end %>
<br>
<h3>Join a Game</h3>
<% if @games.available != nil %>
  <% @games.available.each do |game| %>
    Game No. <%= game.id %> against User <%= game.user_id %> is available!
    <% if current_user && current_user.id != game.user_id %>
      - <%= link_to 'Join this game', edit_game_path(game), class: 'btn btn-primary' %>
      <br />
    <% elsif current_user && (current_user.id == game.user_id || current_user.id == opponent) %>
      - You are already in this game
      <br />
    <% elsif current_user == nil %>
      - <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to play.
      <br />
    <% end %>
  <% end %>
<% end %>