<h3>Games Index</h3>
<%= link_to 'new', new_game_path %>
<br>
<% @games.each do |game| %>
  <%= game.name %>
  <%= link_to 'show', game_path(game) %>
  <%= link_to 'edit', edit_game_path(game) %>
  <%= link_to 'delete', game, method: :delete %>
	<% if @games.available != nil %>
	  <% @games.available.each do |game| %>
	  	# support joinging a game logic goes here
	  <% end %>
	<% end %>
  <br>
<% end %>